#home{
    background-image: url(/img/backgrounds/h_img.jpg);
    text-align: center;
    color: white;
}
body{
    text-align: center;
    font-size: larger;
}
#about-us, #service{
    font-size: 70px;
}
.welcome{
    font-size: 70px;
}
.paragraph{
    font-size: 25px;
}
#services{
    background-image: url(/img/backgrounds/s_image.jpg);
    background-size: cover;
    background-position: center;
    color: white;
}
